/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

.borderPane {
    -fx-background-image: url("../images/login-interface.png"); /* background image for borderPane. */
    -fx-background-size: cover;

}
.container{
    -fx-background-color: #ffffff;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.3), 25, 0, 5, 8);
}

.loginSignupTitle{
    -fx-font-family: 'Inknut Antiqua', serif;
    -fx-font-weight: bold;
}
.welcomeText{
    -fx-text-fill: #6f6f7c;
}

.loginButton{
    -fx-background-color: #4D5194;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 200;
}

.loginButton:hover{
    -fx-background-color: rgba(77, 81, 148, 0.78);
}

.text-field {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0; /* Bottom border only */
    -fx-font-size: 12px;
}
.dropdown{
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0; /* Bottom border only */
}
.signup_btn{
    -fx-background-color: transparent; /* Remove background */
    -fx-border: none; /* Remove border */
    -fx-text-fill: #000000; /* Set text color to black */
    -fx-cursor: hand; /* Change cursor to hand when hovering over the button */
    -fx-padding: -1;
}

.chooseUser-userOptions-container{
    -fx-background-color: rgba(212, 213, 227, 0.26);
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 3, 5);
    -fx-background-radius: 20;
}

.chooseUser-userOptions-container:hover{
    -fx-background-color: rgba(129, 134, 211, 0.23);
}
.Error_label{
    -fx-text-fill: red;
}
.haveanacc{
    -fx-padding: 0 0 0 10;

}
.loginerrorlabel{
    -fx-text-fill: red;
}