
.heading{
     -fx-font-family: 'Inknut Antiqua', serif;
     -fx-font-size: 25px;
    -fx-font-weight: bold;
 }
.on-page-button{
    -fx-border-color: none;
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.3) 100%);
    -fx-pref-height: 55;
    -fx-pref-width: 234;
}
.menu-button{
    -fx-border-color: none;
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 10;
    -fx-background-color:none;
    -fx-pref-height: 55;
    -fx-pref-width: 234;
}
.menu-button:hover{
    -fx-border-color: none;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.3) 100%);
}
.menu-button:pressed {
    -fx-border-color: none;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.3) 100%);
}
.student-table{
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-font-size: 20px;
    
}
.other-button{
    -fx-font-size: 15px;
    -fx-border-color: none;
    -fx-background-radius: 30 30 30 30;
    -fx-background-color: #4D5194;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 3, 5);
}
.other-button:pressed{
    -fx-background-color: #868bd4;
}
