.categories{
    -fx-background-color: rgba(110, 115, 184, 0.36);
    -fx-background-radius:20;
}
.categories:hover{
    -fx-background-color: rgba(136, 141, 200, 0.17);
}
.submit-btn:hover{
    -fx-background-color: rgba(110, 115, 184, 0.27);
}
.submit-button{
    -fx-font-size: 15px;
    -fx-border-color: none;
    -fx-background-radius: 30 30 30 30;
    -fx-background-color: #4D5194;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 3, 5);
}
.submit-button:pressed{
    -fx-background-color: #868bd4;
}
.button{
    -fx-background-color: transparent;
    -border-color: transparent;

}
.button:hover{
    -fx-cursor: hand;
}
.circle.button:pressed{
    -fx-background-color: #868bd4;
}