 .heading{
     -fx-font-family: 'Inknut Antiqua', serif;
     -fx-font-weight: bold;
     -fx-letter-spacing: 20px;
 }
 .submit-button{
     -fx-font-size: 20px;
     -fx-border-color: none;
     -fx-background-radius: 30 30 30 30;
     -fx-background-color: #4D5194;
     -fx-text-fill: #ffffff;
     -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 3, 5);
 }
 .submit-button:pressed{
     -fx-background-color: #868bd4;
 }